
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.bootstrap-select .dropdown-menu .media-left img {
  max-width: 100px !important;
}

.animation {
  max-width: 500px;
}

.number-input {
  max-width: 150px;
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}